
<p>
  Username: <%= @client.username %>
</p>
<p>
  Company: <%= @profile.company %>
</p>
<p>
  Name: <%= @profile.name %>
</p>
<p>
  Address: <%= @profile.address %>
</p>
<p>
  Description:  <%= @profile.description %>
</p>

<%= link_to 'Edit profile', edit_client_profile_path(current_client, current_client.profile), :class => "btn btn-primary"  %>
<%= link_to 'Back', client_path(current_client), :class => "btn btn-primary"  %>