<%= javascript_include_tag :application %>
<%= stylesheet_link_tag "bootstrap" %>

<div class="jumbotron">
<h2>User clicks statistics</h2>
</br>
</div>

<%= form_tag("/search", method: "get") do %>

<div>
<fieldset class="fieldset">
  <%= label_tag(:q, "Question:") %>
  <%= select_tag(:campaign, options_for_select(Campaign.all.map{ |c| c.caption } ))%>

  <%= select_tag(:campaign, options_for_select(CampaignItem.all.map{ |c| c.textUrl } ))%>
</fieldset>
</br>

<%= submit_tag("Search") %>
<%end%>

</br>
<%= link_to 'Profile', client_path(current_client), :class => "btn btn-primary"  %>
</br>
</div>