
<%= stylesheet_link_tag "bootstrap" %>
<%= javascript_include_tag :jquery_min %>
<%= javascript_include_tag :jquery_ui %>
<%= stylesheet_link_tag "jquery_ui" %>

<div class="jumbotron">

<h2>All users who joined with this app</h2>

<br/>

<h4 style="text-indent:20px">Users count: <%= @users.count %></h4>


<center><b><%= will_paginate @users %></b></center>
<br />

<table class="table stripped pretty" id="users_table">

<tr>
    <th><%= sortable "macaddress" %></th>
    <th><%= sortable "age" %></th>
    <th><%= sortable "sex" %></th>
    <th><%= sortable "latitude" %></th>
    <th><%= sortable "longitude" %></th>
    <th><%= sortable "country", "location" %></th>
    <th><%= sortable "clicks_count" %></th>
</tr>


<% @users.each do |user| %>
  <tr>
    <td><%= user.macaddress %></td>
    <td><%= user.age_range.full_range %></td>
    <td>
    	<% if user.sex %>
        <%= Campaign::GENDERS[user.sex].first %>
      <% end %>
    </td>
    <td><%= user.latitude %></td>
    <td><%= user.longitude %></td>
    <td>
	<% if user.location %>
		<%= user.location.country %> | <%= user.location.state %>
	<% end %>
    </td>
    <td><%= link_to "#{user.clicks_count}", user_path(user) %></td>
  </tr>
<% end %>

</table>

<%= link_to 'Profile', client_path(current_client), :class => "btn btn-primary" %>

<br />

<%= link_to 'Back to all sdkkeys', sdkkeys_path, :class => "btn btn-primary" %>