<%= last_answer = nil %>

<table border="2">
	<tr>
		<th>Campaign</th>
		<th>Answer</th>
	</tr>
	<% answers.each do |answer| %>
		<% if last_answer and last_answer.campaign == answer.campaign %>
			<tr>
				<td></td>
				<td><%= "#{answer.textUrl}" %></td>
			</tr>
		<% else %>
			<tr>
				<td>
					<div style='display:inline-block;' >
						<%= "#{answer.campaign.caption}" %>
					</div>
					<div style='display:inline-block;'>
						<input type='button' id='remove_campaign_before' value='&#10005;' style='width: 30px;' data-campaign-before-remove-id='<%= answer.campaign.id %>'>
					</div>
				</td>
				<td><%= "#{answer.textUrl}" %></td>
			</tr>
		<% end %>
		<% last_answer = answer %>
	<% end %>
</table>