
<table>

<tr>
    <td>id</td>
    <td>owner</td>
    <td>question</td>
    <td>approved</td>
    <td>started</td>
    <td>purchased</td>
    <td>showed</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<% @campaigns.each do |c| %>
  <tr>
    <td># <%= c.id %></td>
    <td class=<%="#{c.id}"%>><%= c.client.username %></td>
    <td><%= c.caption %></td>
    <td><%= c.approved %></td>
    <td><%= c.started %></td>
    <td><div class=<%="#{c.id}purchased"%>><%= c.purchased %></div></td>
    <td><%= c.showed %></td>
    <td><input type="text" class=<%="#{c.id}"%> ></td>
    <td><%= link_to 'Delete', client_campaign_path(current_client, c), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
    <td><%= link_to 'Edit', edit_client_campaign_path(current_client, c), :class => 'btn btn-success' %></td>
    <td><%= link_to 'Purchase this campaign', purchases_path, :class => 'purchase btn btn-primary', :data => { :confirm => 'Are you sure?' } %></td>
    <td><%= link_to 'Show', client_campaign_path(current_client, c), :class => 'btn btn-primary' %></td>
    <td><%= link_to c.started ? 'Pause' : 'Start', campaign_activates_path(c), :method => :post, :class => 'btn btn-sm btn-success' %></td>
    <td>
        <% if c.started && c.approved %>
            <%= link_to 'Unapprove', campaign_approves_path(c, :path => client_campaigns_path(current_client)), :method => :post, :class => 'btn btn-sm btn-danger' %>
        <% end %>
    </td>
    <td>
        <% if c.started && c.approved %>
            <%= image_tag "icon_ok.png" %>
        <% end %>
    </td>
  </tr>
<% end %>

</table>

