
<%= form_for @campaign, :url => path, :html => {:multipart => true, :id => "edit_campaign_form"} do |f| %>

  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_field :caption %><br />
  </p>
  <p>
    <%= f.label :title_color %><br />
    <%= f.text_field :title_color, :id => "campaign_title_color", :class => "color" %>
  </p>
  <p>
    <%= f.label :border_color %><br />
    <%= f.text_field :border_color, :id => "campaign_border_color", :class => "color" %>
  </p>
  <p>
    <%= f.label :font %><br />
    <%= f.select :font, options_for_select(Campaign::FONTS, @campaign.font) %><br />
  </p>
  <p>
    <%= f.label :font_size %><br />
    <%= f.select :font_size, options_for_select(20..30, @campaign.font_size) %><br />
  </p>
  <p>
    <b><%= f.label :target_device %></b>
    <% Campaign::DEVICES.each do |device| %>
      <%= f.radio_button :target_device, device.last, :checked => @campaign.target_device == device.last ? true : false %> <%= device.first %>
    <% end %>
  </p>

  <p>
      <b>Age ranges:</b>
      <br />
      <% AgeRange.all.each do |age_range| %>
        <%= check_box_tag :age_ranges, age_range.id, @campaign.age_ranges.include?(age_range), :name => 'campaign[age_range_ids][]' %>
        <%= age_range.age_left %> - <%= age_range.age_right %>
      <% end %>
  </p>

  <p>
    <b><%= f.label :gender %></b>
    <% Campaign::GENDERS.each do |gender| %>
      <%= f.radio_button :gender, gender.last, :checked => @campaign.gender == gender.last ? true : false %> <%= gender.first %>
    <% end %>
  </p>
  <p>
    <b><%= f.label :multiple %></b>
    <%= f.check_box :multiple %>
  </p>

<% if !params[:step] %>

    <%= select_tag :day, options_for_select(Date::DAYNAMES), :id => "day" %>
    <br />
    From: <input type="text" id="start_time" style="width: 70px;", value=""> - To: <input type="text" id="end_time" style="width: 70px;", value="">
    <input type="button" id="add_adv_period" class="btn btn-primary" style="width: 170px;" value="Add new period">
    <br />

    <b>Days scheduler:</b>
    <br />
    <% Date::DAYNAMES.each do |day| %>
      <br />
      <%= day %>
      <br />
      <div id="<%= day %>">
        <%= render 'adv_periods/campaign_periods', :campaign => @campaign, :day => day %>
      </div>
    <% end %>

  <br />



  <b>New point:</b>
    <%= fields_for :campaign_location_point do |builder| %>
    <%= builder.text_field :address, :id => "address", :placeholder => "Insert address" %>
    <input type="button" id="address_btn" class="btn btn-primary" value="Find">
    <%= builder.label :latitude %>
    <%= builder.text_field :latitude, :id => "latitude", :readonly => true %>
    <%= builder.label :longitude %>
    <%= builder.text_field :longitude, :id => "longitude", :readonly => true %>
    <%= builder.label :distance %> (in miles)
    <%= builder.text_field :distance, :id => "distance_field", :readonly => true %>
    <%= builder.range_field :distance, :min => 1, :max => 500, :id => "distance", :value => 1 %>
  <% end %>  
  <br />
  <input type="button" id="add_location_point" class="btn btn-primary" style="width: 170px;" value="Add location point">
  <br />
  <div id="location_points" style='width: 800px;'>
    <%= render 'campaign_location_points/points', :campaign => @campaign %>
  </div>

  <br />

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
<% end %>

  <br />

  <% if !params[:step] %>

    <button id="preview_button" class="btn btn-primary" type="button" data-type-ad='<%= @campaign.type_ad %>' data-items-count='<%= @campaign.campaign_items.count %>'
      data-title-color='<%= @campaign.title_color %>' data-border-color='<%= @campaign.border_color %>' data-background-url='<%= @campaign.background_url %>'
      data-font-size='<%= @campaign.font_size %>'> Show campaign preview </button>
    
    <div id="campaign_preview">

      <div id="portrait_preview">
        <div id="campaign_title"></div>

        <div id="answers" >
          <div id="answer" data-answer-id="0" ></div>
          <div id="answer" data-answer-id="1" ></div>
          <div id="answer" data-answer-id="2" ></div>
          <div id="answer" data-answer-id="3" ></div>
        </div>
      </div>

      <div id="landscape_preview">
        <div id="campaign_title"></div>

        <div id="answers_landscape" >
          <div id="answer" data-answer-id="0" ></div>
          <div id="answer" data-answer-id="1" ></div>
          <div id="answer" data-answer-id="2" ></div>
          <div id="answer" data-answer-id="3" ></div>
        </div>
      </div>

    </div>

  <% end %>

  </br>

  <h3> Answers </h3>

  <% @campaign.campaign_items.each_with_index do |item, index| %>
    <%= f.fields_for :campaign_items, item do |item|%>
      <b>#<%= index+1 %></b>
      <%= render "campaign_item", :f => item %>
    <% end %>
  <% end %>

  </br>
  </br>


  <% if !params[:step] %>
    <b>Locations:</b>
    <button id="locations_button" class="btn btn-primary" type="button" > Show campaign locations </button>
    <div id="locations">
      <b><%= f.label :locations %></b>
      <% Location.all.each do |location| %>
        <%= check_box_tag :locations, location.id, !@campaign.locations.include?(location), :name => 'campaign[location_ids][]' -%>
        <%= location.country %>
      <% end %>
    </div>
  <% end %>


    <% if params[:step] %>
        <%= hidden_field :step, :value => true %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
      <%= link_to 'Back', client_campaigns_path, :class => "btn btn-primary" %>
    </div>
<% end %>
