
<p>
  <b>Target:</b>
  <% if !@campaign.locations.any? %>
    All countries
  <% else %>
    All countries except:
  <% end %>
  <% @campaign.locations.each do |location| %>
    </br>
    <%= location.country %>
    <% if location.state != "" %>
      | <%= location.state %>
    <% end %>
  <% end %>
  <br />
  <b>Gender:</b>
  <%= Campaign::GENDERS[@campaign.gender].first %>
  <br />
  <b>Age ranges:</b>
  <% @campaign.age_ranges.each do |age_range| %>
    <br />
    <%= age_range.age_left %> - <%= age_range.age_right %>
  <% end %>
</p>

<%if @campaign.border_color %>
<p>
    <div style="background-color:#<%=@campaign.border_color %>; height:70px; width:100px;" align-text="center" display="inline-block">
      <b>Border color</b>
    </div>
</p>
<% end %>

<%if @campaign.title_color %>
<p>
    <div style="background-color:#<%=@campaign.title_color %>; height:70px; width:100px;" align-text="center" display="inline-block">
      <b>Title color</b>
    </div>
</p>
<% end %>

<p>
  <b>Question:</b>
  <p>
    <i><%= @campaign.caption %></i>
  </p>
</p>

</br>

<div>
    <b>Answers:</b>
	<% @campaign.campaign_items.each_with_index do |item,index| %>
        <p><b>#<%= index + 1 %></b></p>
        <i><%= item.content %></i>  (selected count = <%= item.selected_count %> )
        </br>
    <% end %>
</div>

<%= link_to 'Edit', edit_client_campaign_path(current_client, @campaign), :class => "btn btn-success" %>
<%= link_to 'Back', client_campaigns_path, :class => "btn btn-primary" %>
